.navbar-brand {
  font-size:1.8em;
  color:blue;
}

#topContainer {
  background-image:url("../images/Brainitz_landing_page_photo_v2.jpg");
  height:400px;
  width: auto;
  background-size: cover;
}

#topRow {
  margin-top:100px;
  text-align:center;
}

#topRow h1 {
  font-size:300%;
}

#emailSignup {
  margin-top:50px;
}

.bold {
  font-weight:bold;
  color:black;
}

.marginTop {
  margin-top:30px;
}

.center {
  text-align:center;
}

.title {
  color: black;
  margin-top:100px;
  font-size: 48px;
}

#details {
  background-color: #3A99D8;
}

#footer {
  padding-top:35px;
  width:100%;
}

.marginBottom {
  margin-bottom:30px;
}

.contentContainer {
  text-align: center;
}

.teachifyImage {
  width: 40vw;
  height: auto;
}

.lead {
  font-weight:bold;
  font-size:200%;
  color:red;
}

.vjs-control-bar {
  display: none;
}

.vjs-caption-settings {
  display: none;
}

.icon-images {
  width: 10vw;
  height: auto;
}

.answer-cards {
  text-align: center;
}

.answer-cards-content {
  background-color: white;
  height: 35vh;
  width: 28vw;
  padding: 20px;
  margin-top: 20px;
}

.card-text {
  font-size: 18px;
}
